@use "../utils" as *;

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(40);

    &__links {
        display: flex;
        gap: rem(4);
        line-height: 150%;
    }

    &__link {
        text-decoration: underline;

        &:hover {
            opacity: .75;
        }
    }

    &__actions {
        line-height: 150%;
    }

    &__action {
        padding: 0;
        margin: 0;
        font-size: rem(14);
        text-decoration: underline;
        background: none;
        border: none;

        &:hover {
            cursor: pointer;
            opacity: .75;
        }
    }
}
